---
layout: handbook-page-toc
title: "Cost Management"
description: "GitLab Cost Management"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .toc-list-icons .hidden-md .hidden-lg}

{::options parse_block_html="true" /}

----

## Quick Links
[Infrafin Board](https://gitlab.com/groups/gitlab-com/-/boards/1502173?label_name[]=infrafin){:.btn .btn-purple}
[Cost Management Epic](https://gitlab.com/groups/gitlab-com/gl-infra/-/epics/103){:.btn .btn-purple}
[Dashboards](https://app.periscopedata.com/app/gitlab/topic/infrafin/abf4ddd16c954c2d9362f8af28a1be8b){:.btn .btn-purple}

## Mission
Provide Recommendations and Analysis to support and enable GitLab to be as efficient as possible with our cloud spend.

## Vision
The idea behind cloud cost management is to work in a cross-functional effort between many different departments including engineering, finance, and data to bring forth the best recommendations possible and prioritize these against all the other customer facing intiatives that are in development.

## Strategy

Our strategy follows a generic cost efficiency or data based framework where we have 5 stages of adoption related to cloud cost efficiency before we get to a stable point. Today we are somewhere between stages 1-4 depending on the problem area.

### Stage 1: Basic Cost Visiblity
### Stage 2: Cost Allocation
### Stage 3: Optimize Usage Efficiency
### Stage 4: Measure Business Outcomes vs Spend
### Stage 5: Predict Future Spend & Problem Areas



## <i class="fas fa-map-marked-alt fa-fw" style="color:rgb(252,109,38); font-size:.85em" aria-hidden="true"></i>Cost Management Handbook

- [Infrafin Board Docs](/handbook/engineering/infrastructure/cost-management/infrafin-board)
- [GCP CUD Process](/handbook/engineering/infrastructure/cost-management/gcp-cud)
- [Infra Analyst Role](/handbook/engineering/infrastructure/infrastructure-analyst-role)
- [Learning Resources](/handbook/engineering/infrastructure/cost-management/learning)
	- [GCP](/handbook/engineering/infrastructure/cost-management/learning/gcp)
	- [AWS](/handbook/engineering/infrastructure/cost-management/learning/aws)



## <i class="fas fa-bullhorn fa-fw" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>Contact Us

#### <i class="fab fa-slack fa-fw" style="color:rgb(252,109,38); font-size:.85em" aria-hidden="true"></i>Slack 

* [#infrafin](https://gitlab.slack.com/messages/infrafin/) is the primary channel for all of GitLab communication in topics that are discussing cloud vendor cost

