.full-width.open-source-partners-logos-container.clear-background
  %p
    GitLab Open Source Partners
  .logos-container
    - data.organizations.each do |org|
      - if org.opensource_partner
        - if org.home_url
          %a{ href: "#{org.home_url}" }
            = partial "#{org.logo}"
        - else
          = partial "#{org.logo}"
